<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:postgresql://mehrab.cvoui7q38caj.us-east-2.rds.amazonaws.com:5432/mehrab</property>
		<property name="connection.username">mehrab</property>
		<property name="connection.password">p4ssw0rd</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<property name="show_sql">true</property>
		<!-- <property name="hbm2ddl.auto">create</property> -->

		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

		<mapping resource="Sandwich.hbm.xml"></mapping>
		<mapping class="com.revature.Combo"></mapping>
	</session-factory>
</hibernate-configuration>